# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
.env.*
!.env.sample

# Build outputs
dist/
build/
coverage/

# OS/IDE files
.DS_Store
.idea/
.vscode/
*.swp

# Docker and Kubernetes local files (if any shouldn't be pushed)
# For example, avoid pushing local bash history or temp files
env_ip.txt
Gemini.md

# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc